.add-point-form-component{
    width: fit-content;
    height: auto;
    border-radius: 5px;
    background-color: var(--secondary-background-color);
    z-index: 1;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
}

.add-point-form-component h4{
    text-align: center;
    margin-bottom: 0.25rem;
}